/* POPPIN FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* Default CSS values from scratch */
*, *::before,*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* REUSABLE STYLES */
:root {
  /* COLOR */
  --color-bg: #0a0b11;
  --color-bg-light: #3F404F;
  --color-bg-variant: #ffd325;
  --color-white: #fff;

  /* CONTAINER RESP SIZE*/
  --container-width-lg: 80%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  /* TRANSITION */
  --transition: all 400ms ease;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg-variant);
  line-height: 1.7;
  /* background-image: url("https://www.transparenttextures.com/patterns/dark-dot.png"); */
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

/* BUTTON GLOBAL */
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-bg);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: transparent;
  color: var(--color-bg);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container{
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

h1,h2,h3,h4,h5 {
  line-height: 1.2;
}

img{
  display: block;
  object-fit: cover;
  width: 100%;
}

section {
  margin-top: 5rem;
}