.contact__container {
  display: flex;
  gap: 25rem;
}

.contact__card {
  background: var(--color-white);
  border: 2px solid black;
  border-radius: 1rem;
  max-width: 40%;
  padding: 4rem;
}

.contact__details {
  margin-top: 2rem;
}

.contact__info {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.ased{
  border-radius: 2rem;
  border: 2px solid var(--color-bg);
  color: var(--color-white);
  background-color: var(--color-bg);
  padding: 1rem 2.5rem;
}